In [1]:
import os
import json
from datetime import datetime
import logging
import argparse
import pandas as pd


BASE_DIR = "/Users/kelstonchen/GitRepos/predicting_race_winners"

In [54]:
PATH = os.path.join(BASE_DIR, 'data', 'raw', 'results', '2022')

In [55]:
with open(os.path.join(PATH, os.listdir(PATH)[0]), 'r') as reader:
    d = json.load(reader)

In [56]:
df = pd.DataFrame(d['RaceTable']['Races'])
df

,season,round,url,raceName,Circuit,date,time,Results
0,2022,5,https://en.wikipedia.org/wiki/2022_Miami_Grand...,Miami Grand Prix,"{'circuitId': 'miami', 'url': 'https://en.wiki...",2022-05-08,19:30:00Z,"[{'number': '14', 'position': '11', 'positionT..."
1,2022,6,https://en.wikipedia.org/wiki/2022_Spanish_Gra...,Spanish Grand Prix,"{'circuitId': 'catalunya', 'url': 'https://en....",2022-05-22,13:00:00Z,"[{'number': '1', 'position': '1', 'positionTex..."

In [94]:
d['RaceTable']['Races'][0]['round']

'5'

In [76]:
# pd.DataFrame(d['RaceTable']['Races'][1]['Results']['FastestLap'])

In [79]:
pd.concat([df, pd.DataFrame(df['Results'].to_dict()[0])])

,season,round,url,raceName,Circuit,date,time,Results,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,2022,5,https://en.wikipedia.org/wiki/2022_Miami_Grand...,Miami Grand Prix,"{'circuitId': 'miami', 'url': 'https://en.wiki...",2022-05-08,19:30:00Z,"[{'number': '14', 'position': '11', 'positionT...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,6,https://en.wikipedia.org/wiki/2022_Spanish_Gra...,Spanish Grand Prix,"{'circuitId': 'catalunya', 'url': 'https://en....",2022-05-22,13:00:00Z,"[{'number': '1', 'position': '1', 'positionTex...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,11,11,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",11,57,Finished,"{'millis': '5701386', 'time': '+37.128'}","{'rank': '13', 'lap': '53', 'Time': {'time': '..."
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,12,12,0,"{'driverId': 'tsunoda', 'permanentNumber': '22...","{'constructorId': 'alphatauri', 'url': 'http:/...",9,57,Finished,"{'millis': '5704404', 'time': '+40.146'}","{'rank': '8', 'lap': '55', 'Time': {'time': '1..."
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,13,13,0,"{'driverId': 'ricciardo', 'permanentNumber': '...","{'constructorId': 'mclaren', 'url': 'http://en...",14,57,Finished,"{'millis': '5705160', 'time': '+40.902'}","{'rank': '11', 'lap': '56', 'Time': {'time': '..."
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,14,14,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",19,57,Finished,"{'millis': '5714194', 'time': '+49.936'}","{'rank': '18', 'lap': '53', 'Time': {'time': '..."
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,15,15,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",15,57,Finished,"{'millis': '5737563', 'time': '+1:13.305'}","{'rank': '6', 'lap': '57', 'Time': {'time': '1..."
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,16,16,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,56,Front wing,NaN,"{'rank': '17', 'lap': '52', 'Time': {'time': '..."
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,17,17,0,"{'driverId': 'vettel', 'permanentNumber': '5',...","{'constructorId': 'aston_martin', 'url': 'http...",0,54,Collision,NaN,"{'rank': '16', 'lap': '50', 'Time': {'time': '..."
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,18,R,0,"{'driverId': 'gasly', 'permanentNumber': '10',...","{'constructorId': 'alphatauri', 'url': 'http:/...",7,45,Suspension,NaN,"{'rank': '19', 'lap': '38', 'Time': {'time': '..."
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,19,R,0,"{'driverId': 'norris', 'permanentNumber': '4',...","{'constructorId': 'mclaren', 'url': 'http://en...",8,39,Collision,NaN,"{'rank': '14', 'lap': '37', 'Time': {'time': '..."
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,20,R,0,"{'driverId': 'zhou', 'permanentNumber': '24', ...","{'constructorId': 'alfa', 'url': 'http://en.wi...",17,6,Water leak,NaN,"{'rank': '20', 'lap': '4', 'Time': {'time': '1..."

In [67]:
len(d['RaceTable']['Races'])

2

In [80]:
df

,season,round,url,raceName,Circuit,date,time,Results
0,2022,5,https://en.wikipedia.org/wiki/2022_Miami_Grand...,Miami Grand Prix,"{'circuitId': 'miami', 'url': 'https://en.wiki...",2022-05-08,19:30:00Z,"[{'number': '14', 'position': '11', 'positionT..."
1,2022,6,https://en.wikipedia.org/wiki/2022_Spanish_Gra...,Spanish Grand Prix,"{'circuitId': 'catalunya', 'url': 'https://en....",2022-05-22,13:00:00Z,"[{'number': '1', 'position': '1', 'positionTex..."

In [91]:
pd.DataFrame(d['RaceTable']['Races'][0]['Results'])

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,14,11,11,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",11,57,Finished,"{'millis': '5701386', 'time': '+37.128'}","{'rank': '13', 'lap': '53', 'Time': {'time': '..."
1,22,12,12,0,"{'driverId': 'tsunoda', 'permanentNumber': '22...","{'constructorId': 'alphatauri', 'url': 'http:/...",9,57,Finished,"{'millis': '5704404', 'time': '+40.146'}","{'rank': '8', 'lap': '55', 'Time': {'time': '1..."
2,3,13,13,0,"{'driverId': 'ricciardo', 'permanentNumber': '...","{'constructorId': 'mclaren', 'url': 'http://en...",14,57,Finished,"{'millis': '5705160', 'time': '+40.902'}","{'rank': '11', 'lap': '56', 'Time': {'time': '..."
3,6,14,14,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",19,57,Finished,"{'millis': '5714194', 'time': '+49.936'}","{'rank': '18', 'lap': '53', 'Time': {'time': '..."
4,47,15,15,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",15,57,Finished,"{'millis': '5737563', 'time': '+1:13.305'}","{'rank': '6', 'lap': '57', 'Time': {'time': '1..."
5,20,16,16,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,56,Front wing,NaN,"{'rank': '17', 'lap': '52', 'Time': {'time': '..."
6,5,17,17,0,"{'driverId': 'vettel', 'permanentNumber': '5',...","{'constructorId': 'aston_martin', 'url': 'http...",0,54,Collision,NaN,"{'rank': '16', 'lap': '50', 'Time': {'time': '..."
7,10,18,R,0,"{'driverId': 'gasly', 'permanentNumber': '10',...","{'constructorId': 'alphatauri', 'url': 'http:/...",7,45,Suspension,NaN,"{'rank': '19', 'lap': '38', 'Time': {'time': '..."
8,4,19,R,0,"{'driverId': 'norris', 'permanentNumber': '4',...","{'constructorId': 'mclaren', 'url': 'http://en...",8,39,Collision,NaN,"{'rank': '14', 'lap': '37', 'Time': {'time': '..."
9,24,20,R,0,"{'driverId': 'zhou', 'permanentNumber': '24', ...","{'constructorId': 'alfa', 'url': 'http://en.wi...",17,6,Water leak,NaN,"{'rank': '20', 'lap': '4', 'Time': {'time': '1..."

In [96]:
from build_jolpica import build_data
df = build_data(endpoint='qualifying', key='QualifyingResults')

In [99]:
df.head(25)

,number,position,Driver,Constructor,Q1,Q2,Q3,season,round
0,16,1,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1:31.471,1:30.932,1:30.558,2022,1
1,1,2,"{'driverId': 'max_verstappen', 'permanentNumbe...","{'constructorId': 'red_bull', 'url': 'http://e...",1:31.785,1:30.757,1:30.681,2022,1
2,55,3,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",1:31.567,1:30.787,1:30.687,2022,1
3,11,4,"{'driverId': 'perez', 'permanentNumber': '11',...","{'constructorId': 'red_bull', 'url': 'http://e...",1:32.311,1:31.008,1:30.921,2022,1
4,44,5,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",1:32.285,1:31.048,1:31.238,2022,1
5,77,6,"{'driverId': 'bottas', 'permanentNumber': '77'...","{'constructorId': 'alfa', 'url': 'http://en.wi...",1:31.919,1:31.717,1:31.560,2022,1
6,20,7,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",1:31.955,1:31.461,1:31.808,2022,1
7,14,8,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",1:32.346,1:31.621,1:32.195,2022,1
8,63,9,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",1:32.269,1:31.252,1:32.216,2022,1
9,10,10,"{'driverId': 'gasly', 'permanentNumber': '10',...","{'constructorId': 'alphatauri', 'url': 'http:/...",1:32.096,1:31.635,1:32.338,2022,1
10,31,11,"{'driverId': 'ocon', 'permanentNumber': '31', ...","{'constructorId': 'alpine', 'url': 'http://en....",1:32.041,1:31.782,NaN,2022,1
11,47,12,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",1:32.380,1:31.998,NaN,2022,1
12,4,13,"{'driverId': 'norris', 'permanentNumber': '4',...","{'constructorId': 'mclaren', 'url': 'http://en...",1:32.239,1:32.008,NaN,2022,1
13,23,14,"{'driverId': 'albon', 'permanentNumber': '23',...","{'constructorId': 'williams', 'url': 'http://e...",1:32.726,1:32.664,NaN,2022,1
14,24,15,"{'driverId': 'zhou', 'permanentNumber': '24', ...","{'constructorId': 'alfa', 'url': 'http://en.wi...",1:32.493,1:33.543,NaN,2022,1
15,22,16,"{'driverId': 'tsunoda', 'permanentNumber': '22...","{'constructorId': 'alphatauri', 'url': 'http:/...",1:32.750,NaN,NaN,2022,1
16,27,17,"{'driverId': 'hulkenberg', 'permanentNumber': ...","{'constructorId': 'aston_martin', 'url': 'http...",1:32.777,NaN,NaN,2022,1
17,3,18,"{'driverId': 'ricciardo', 'permanentNumber': '...","{'constructorId': 'mclaren', 'url': 'http://en...",1:32.945,NaN,NaN,2022,1
18,18,19,"{'driverId': 'stroll', 'permanentNumber': '18'...","{'constructorId': 'aston_martin', 'url': 'http...",1:33.032,NaN,NaN,2022,1
19,6,20,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",1:33.634,NaN,NaN,2022,1
0,55,1,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",1:40.190,1:41.602,1:40.983,2022,10
1,1,2,"{'driverId': 'max_verstappen', 'permanentNumbe...","{'constructorId': 'red_bull', 'url': 'http://e...",1:39.129,1:40.655,1:41.055,2022,10
2,16,3,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1:39.846,1:41.247,1:41.298,2022,10
3,11,4,"{'driverId': 'perez', 'permanentNumber': '11',...","{'constructorId': 'red_bull', 'url': 'http://e...",1:40.521,1:42.513,1:41.616,2022,10
4,44,5,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",1:40.428,1:41.062,1:41.995,2022,10

In [104]:
df.sort_values(by=['season', 'round'])

,number,position,Driver,Constructor,Q1,Q2,Q3,season,round
0,16,1,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1:31.471,1:30.932,1:30.558,2022,1
1,1,2,"{'driverId': 'max_verstappen', 'permanentNumbe...","{'constructorId': 'red_bull', 'url': 'http://e...",1:31.785,1:30.757,1:30.681,2022,1
2,55,3,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",1:31.567,1:30.787,1:30.687,2022,1
3,11,4,"{'driverId': 'perez', 'permanentNumber': '11',...","{'constructorId': 'red_bull', 'url': 'http://e...",1:32.311,1:31.008,1:30.921,2022,1
4,44,5,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",1:32.285,1:31.048,1:31.238,2022,1
...,...,...,...,...,...,...,...,...,...
15,27,16,"{'driverId': 'hulkenberg', 'permanentNumber': ...","{'constructorId': 'sauber', 'url': 'http://en....",1:32.067,,NaN,2025,4
16,30,17,"{'driverId': 'lawson', 'permanentNumber': '30'...","{'constructorId': 'rb', 'url': 'http://en.wiki...",1:32.165,NaN,NaN,2025,4
17,5,18,"{'driverId': 'bortoleto', 'permanentNumber': '...","{'constructorId': 'sauber', 'url': 'http://en....",1:32.186,NaN,NaN,2025,4
18,18,19,"{'driverId': 'stroll', 'permanentNumber': '18'...","{'constructorId': 'aston_martin', 'url': 'http...",1:32.283,NaN,NaN,2025,4
19,87,20,"{'driverId': 'bearman', 'permanentNumber': '38...","{'constructorId': 'haas', 'url': 'http://en.wi...",1:32.373,NaN,NaN,2025,4

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1049 entries, 0 to 19
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   number       1049 non-null   object
 1   position     1049 non-null   object
 2   Driver       1049 non-null   object
 3   Constructor  1049 non-null   object
 4   Q1           1049 non-null   object
 5   Q2           793 non-null    object
 6   Q3           530 non-null    object
 7   season       1049 non-null   object
 8   round        1049 non-null   object
dtypes: object(9)
memory usage: 82.0+ KB